.true {
  text-align: center;
  margin: 0;
  padding: 30px;
}
.false {
  text-align: center;
  margin: 0;
  padding: 30px;
  /* background-color: black;
  color: rgb(0, 255, 102); */
}

/* .false div {
  color: white;
}

.true div {
  color: black;
}

.false .users-icon {
  background-color: rgb(205, 205, 205);
  color: rgb(248, 137, 97);
  font-size: 150px;
  width: 250px;
}

.false .plane-icon {
  background-color: rgb(205, 205, 205);
  color: rgb(96, 96, 96);
  font-size: 150px;
  width: 250px;
}

.false .trophy-icon {
  background-color: rgb(205, 205, 205);
  color: rgb(255, 242, 0);
  font-size: 150px;
  width: 250px;
}

.true .users-icon {
  background-color: rgb(205, 205, 205);
  color: rgb(248, 137, 97);
  font-size: 150px;
  width: 250px;
}

.true .plane-icon {
  background-color: rgb(205, 205, 205);
  color: rgb(96, 96, 96);
  font-size: 150px;
  width: 250px;
}

.true .trophy-icon {
  background-color: rgb(205, 205, 205);
  color: rgb(255, 242, 0);
  font-size: 150px;
  width: 250px;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
